* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --orange: #F2C14E;
    --winning-blocks: #2d414b;
}

body {
    color: var(--orange);
    font-family: 'Finger Paint', cursive;
}

h1 {
    display: flex; /* Establishes a flex container */
    align-items: center;
    justify-content: center;
    font-size: 54px;
    text-transform: uppercase;
}

.container {
    padding: 40px;
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #37505C;
}

#gameboard {
    width: 300px;
    display: none;
    flex-wrap: wrap;
    margin-top: 40px;
    animation: slideFadeIn 2s ease-out forwards;
}

.box {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange);
    font-size: 120px;
    border-right: 2px solid;
    border-bottom: 2px solid;
}

.box:nth-child(3n) {
    border-right: none;
}

.box:nth-child(6) ~ .box {
    border-bottom: none;
}


.button {
        font-family: 'Finger Paint', cursive;

    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--orange);
    color: #333;
    border: none;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    width: 162px;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s ease;
}

.button-animate {
    animation: slideFadeIn 2s ease-out forwards;
}

.button:hover {
    cursor: pointer;
    transform: translate3d(0, -2px, 0) scale(1.05);
}


#X_winning_counter {
    display: none;
    animation: slideFadeIn 2s ease-out forwards;

}

#O_winning_counter {
    display: none;
    animation: slideFadeIn 2s ease-out forwards;

}

.title-container {
    display: flex; /* Establishes a flex container */
    justify-content: space-between; /* Distributes space between the titles */
    align-items: center; /* Vertically aligns titles if they are of different heights */
}

.title-container h1 {
    margin-right: 70px; /* Add space between the titles */
    margin-left: 70px; /* Add space between the titles */
    margin-bottom: 40px;
}

#playerText {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: slideFadeIn 2s ease-out forwards;

}

#restartBtn {
    display: none;
    align-items: center;
    justify-content: center;

}

#welcomeText {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: slideFadeIn 2s ease-out forwards;

}

/*!* Define keyframes for the slideFadeIn animation *!*/
/*@keyframes slideFadeIn {*/
/*    from {*/
/*        transform: translateY(30px);*/
/*        opacity: 0;*/
/*    }*/
/*    to {*/
/*        transform: translateY(0);*/
/*        opacity: 1;*/
/*    }*/
/*}*/

#backBtn {
    display: none;
    align-items: center;
    justify-content: center;
}


#onePlayer {
    display: flex;
    align-items: center;
    justify-content: center;
}


#twoPlayers {
    display: flex;
    align-items: center;
    justify-content: center;
}



/*.difficultyBtn {*/
/*    padding: 10px 20px;*/
/*    border-radius: 20px;*/
/*    background-color: var(--orange);*/
/*    color: #333;*/
/*    border: 2px solid transparent; !* Ensuring layout does not shift *!*/
/*    font-size: 18px;*/
/*    font-weight: 600;*/
/*    margin-top: 10px;*/
/*    width: 100px;*/
/*    transition: all 0.3s ease; !* Smooth transitions for hover and active states *!*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center; !* Vertically aligns titles if they are of different heights *!*/
/*    margin-bottom: 5px;*/
/*}*/

/*.difficultyBtn.active {*/
/*    border-color: #000000; !* Black border for the active button *!*/
/*    border-width: 5px; !* Specify the border width *!*/

/*}*/

/*#difficultyContainer {*/
/*    display: flex;*/
/*    justify-content: center; !* Align buttons in the center horizontally *!*/
/*    gap: 10px; !* Space between buttons *!*/
/*        margin-bottom: 0;  // Reduces space below the container if any*/

/*}*/
