<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <!-- Linking external CSS for styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='difficultyStyle.css') }}" id="main-style">
    <!-- Google Fonts for aesthetic typography -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap" rel="stylesheet">
</head>
<body>
<!-- Main container for the game -->
<div class="container">
    <!-- Game title -->
    <div class="title-container">
        <h1 id="X_winning_counter" class="">X Wins:0</h1>
        <h1 id="O_winning_counter">O Wins:0</h1>
    </div>
    <h1 id="welcomeText">Welcome to Tic Tac Toe!<br>
        Pick your mode and start the fun!</h1>
    <h1 id="playerText">Current Player: X</h1>
    <!-- Restart button to reset the game -->
    <button class="button  " id="onePlayer">One Player</button>
    <h1 id="difficultyHeader">Select Your Challenge !</h1>
    <div id="difficultyContainer">

        <div class="bar bar-grey">
            <div class="difficultyBtn" data-difficulty="easy">Easy</div>
            <div class="difficultyBtn" data-difficulty="medium">Medium</div>
            <div class="difficultyBtn" data-difficulty="hard">Hard</div>
        </div>
        <div class="bar-outer">
            <div class="bar bar-purple">
                <div class="difficultyBtn">Easy</div>
                <div class="difficultyBtn">Medium</div>
                <div class="difficultyBtn">Hard</div>
            </div>
        </div>
    </div>
    <button class="button" id="twoPlayers">Two Players</button>
    <button class="button" id="restartBtn">Restart</button>
    <button class="button" id="backBtn">Back</button>
    <!-- Game board where the Tic Tac Toe game is played -->
    <div id="gameboard">
        <!-- Each box represents a cell in the Tic Tac Toe grid -->
        <div class="box" id="0"></div>
        <div class="box" id="1"></div>
        <div class="box" id="2"></div>
        <div class="box" id="3"></div>
        <div class="box" id="4"></div>
        <div class="box" id="5"></div>
        <div class="box" id="6"></div>
        <div class="box" id="7"></div>
        <div class="box" id="8"></div>
    </div>
</div>

<!-- JavaScript logic to handle the game interaction -->

 <script src="{{ url_for('static', filename='gameLogic.js') }}"></script>



</body>
</html>
